@import url("https://fonts.googleapis.com/css?family=Livvic&display=swap");
.sidenote {
  background: url("../images/sidenote.jpg");
  font-family: "Livvic";
  font-size: 20px;
  color: rgb(196, 2, 2);
  margin: 0 auto;
}
